{% load custom_tags %}
<div id="projectCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <!-- 繰り返し処理の開始: 各プロジェクトのセットごとにcarousel-itemを作成 -->
        {% for project in projects %}
            <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}" style="text-align: left;">
                <div class="container mt-4">
                    <div class="row">
                        <div class="col-md-12 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ project.name }}</h5>
                                    <p class="card-text"><strong>概要:</strong> {{ project.overview }}</p>
                                    <p class="card-text"><strong>期間:</strong> {{ project.period_from }} ~ {{ project.period_to }}</p>
                                    <p class="card-text"><strong>技術スタック:</strong> {{ project.skill_names.all|join:", " }}</p>
                                    <p class="card-text"><strong>ポジション:</strong> {{ project.position }}</p>
                                    <p class="card-text"><strong>規模:</strong> {{ project.scale }}</p>
                                    <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#project-details-1">
                                        詳細を見る
                                    </button>
                                    <div id="project-details-1" class="collapse">
                                        
                                            {% if project.descriptions1 %}
                                                <li>{{ project.descriptions1 }}</li>
                                            {% endif %}
                                            {% if project.descriptions2 %}
                                                <li>{{ project.descriptions2 }}</li>
                                            {% endif %}
                                            {% if project.descriptions3 %}
                                                <li>{{ project.descriptions3 }}</li>
                                            {% endif %}
                                            {% if project.descriptions4 %}
                                                <li>{{ project.descriptions4 }}</li>
                                            {% endif %}
                                            {% if project.descriptions5 %}
                                                <li>{{ project.descriptions5 }}</li>
                                            {% endif %}
                                            {% if project.descriptions6 %}
                                                <li>{{ project.descriptions6 }}</li>
                                            {% endif %}
                                            {% if project.descriptions7 %}
                                                <li>{{ project.descriptions7 }}</li>
                                            {% endif %}
                                            {% if project.descriptions8 %}
                                                <li>{{ project.descriptions8 }}</li>
                                            {% endif %}
                                            {% if project.descriptions9 %}
                                                <li>{{ project.descriptions9 }}</li>
                                            {% endif %}
                                            {% if project.descriptions10 %}
                                                <li>{{ project.descriptions10 }}</li>
                                            {% endif %}
                                        </li>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev carousel-control-prev-icon" type="button" data-bs-target="#projectCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next carousel-control-next-icon", ="button" data-bs-target="#projectCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>