{% load custom_tags %}
<div class="container mt-4" style="width: 50%;">
    <h5>※各スキルをクリックすると詳細が見れます</h5>
    <table class="table table-striped" style="background-color: floralwhite;">
        <thead style="background-color: floralwhite; text-align: left;">
            <tr>
                <th>カテゴリ</th>
                <th>スキル</th>
                <th>使用期間</th>
                <th>習熟度</th>
            </tr>
        </thead>
        <tbody style="background-color: floralwhite;">  <!-- 同じクリーム色を適用 -->
            {% for skill in skills %}
                <tr 
                    class="clickable-row" 
                    data-bs-toggle="collapse" 
                    data-bs-target="#details-{{ skill.name }}" 
                    style="background-color: floralwhite; text-align: left;"
                >
                    <td>{{ skill.category }}</td>
                    <td>{{ skill.name.name }}</td>
                    <td>{{ skill.period }}</td>
                    <td>
                        {% for i in 1|range_filter:6 %}
                            {% if skill.level.name >= i %}
                                <span style="color: gold;">★</span>
                            {% else %}
                                <span style="color: lightgray;">★</span>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr id="details-{{ skill.name }}" class="collapse">
                    <td colspan="4" style="text-align: left;">
                        {% if skill.name.description_1 %}
                            <li>
                                {{ skill.name.description_1 }}
                            </li>
                        {% endif %}
                        {% if skill.name.description_2 %}
                            <li>
                                {{ skill.name.description_2 }}
                            </li>
                        {% endif %}
                        {% if skill.name.description_3 %}
                            <li>
                                {{ skill.name.description_3 }}
                            </li>
                        {% endif %}
                        {% if skill.name.description_4 %}
                            <li>
                                {{ skill.name.description_4 }}
                            </li>
                        {% endif %}
                        {% if skill.name.description_5 %}
                            <li>
                                {{ skill.name.description_5 }}
                            </li>
                        {% endif %}
                        
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
